# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# macOS
.DS_Store

# Environment Variables
.env
.env.*

# IDE
.vscode/
.idea/

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/